{% extends "layout.html" %}

{% block title %}
    Change
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="rpt_new_password" placeholder="Repeat New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change!</button>
    </form>
{% endblock %}